.intro {
  width: 50%;
  font-style: bold;
}

p.best {
  font-style: bold;
  color: green
}

.flashy {
  font-style: italic;
  color: red
}

.about {
  font-style: oblique;
  color:chartreuse
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 5px
}

img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sidebar {
  width: 15%;
  float: right;
  background-color: yellowgreen;
}