.intro {
  width: 50%;
  font-style: bold;
}

p.best {
  font-style: bold;
  color: green
}

.flashy {
  font-style: italic;
  color: red
}

.about {
  font-style: oblique;
  color:chartreuse
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 5px
}

.sidebar {
  width: 15%;
  float: right;
  background-color: blanchedalmond;
  border: 10px solid green;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  
}



